<!--<%= tabs_tag do |tab| %>
  <%= tab.latest      'Latest News', newscategory_latestnews_page_path %>
  <%= tab.popular  'Popular News', newscategory_popularnews_page_path %>
  <%= tab.business    'Business News', newscategory_businessnews_page_path %>
  <%= tab.business    'Sports News', newscategory_sportsnews_page_path %>
  <%= tab.screenconfig    'Screen Configuration', newscategory_screenconfig_path %>
<% end %>-->

<ul id ="n1">
  <li id ="news_1"><a href="/newscategory/latestnews_page">Latest News</a>
  </li>
  <li id ="news_2"><a href="/newscategory/popularnews_page">Popular News</a>
  </li>
  <li id ="news_3"><a href="/newscategory/businessnews_page">Business News</a>
  </li>
  <li id ="news_4"><a href="/newscategory/sportsnews_page">Sports News</a>
  </li>
</ul>
